# Docker & Database logs
mysql/
*.log
.DS_Store

# Προσωρινά αρχεία DBeaver
.dbeaver/
Diagrams/

.~lock.*#

# Ignore virtual environments
venv/
.venv/

# Ignore Python cache folders and files
__pycache__/
*.pyc
